<footer
  class="container flex justify-center w-[calc(100%-32px)] xl:w-auto mt-auto mx-auto bg-black px-4 py-6 xl:py-8 rounded-t-[42px]"
>
  <div
    class="inline-flex flex-col sm:flex sm:flex-row sm:justify-between sm:items-center w-[280px] sm:w-[90%] xl:w-[91%] 2xl:w-[92%] mx-auto xl:mr-4"
  >
    <img
      src="../../../../assets/images/CatwikiLogoWhite.svg"
      alt="CatWiki logo"
      class="w-24 xl:w-28 mb-5 sm:mb-0"
    />
    <span class="text-white text-xs xl:text-lg font-normal">
      © created by
      <a
        class="text-white font-bold underline lg:hidden"
        href="https://github.com/mazyn"
        target="__blank"
      >
        mazyn</a
      >
      <a
        class="text-white font-bold underline hover:rainbow-test hidden lg:inline-block"
        href="https://github.com/mazyn"
        target="__blank"
      >
        mazyn
      </a>
      - devChallenge.io 2021
    </span>
  </div>
</footer>
