<footer class="bg-black px-4 py-6 rounded-t-[42px] flex justify-center">
  <div
    class="inline-flex flex-col sm:flex sm:flex-row sm:justify-between sm:items-center sm:w-[90%] mx-auto"
  >
    <img
      src="../../../../assets/CatwikiLogoWhite.svg"
      alt="CatWiki logo"
      class="w-24 mb-5 sm:mb-0"
    />
    <span class="text-white text-xs font-normal">
      © created by
      <a
        class="font-bold underline"
        href="https://github.com/mazyn"
        target="__blank"
      >
        mazyn
      </a>
      - devChallenge.io 2021
    </span>
  </div>
</footer>
