<section class="bg-no-repeat bg-cover bg-right bg-hero-sm md:bg-hero-md lg:bg-hero-lg px-8 py-5 rounded-t-[42px]">
  <img src="../../../../assets/CatwikiLogoWhite.svg" alt="CatWiki logo" class="w-24 mb-3" />
  <div class="w-[130px] mt-2">
    <span class="text-white text-[10px] font-medium block leading-3 mb-5">
      Get to know more about your cat breed
    </span>
    <div class="mb-2">
      <button
        class="flex flex-row items-center justify-between w-24 text-primary bg-white pl-4 pr-3 py-0.5 rounded-full">
        <span class="text-xs font-medium">Search</span> <span class="material-icons !text-lg">search</span>
      </button>
    </div>
  </div>
</section>
