<section
  class="flex flex-col justify-center h-44 sm:h-80 md:h-96 lg:h-[425px] xl:h-[550px] 2xl:h-[650px] px-8 sm:px-16 lg:px-20 xl:px-28 md:pb-8 lg:pb-12 bg-no-repeat bg-cover bg-right sm:bg-[60%_center] bg-hero-sm md:bg-hero-md lg:bg-hero-lg rounded-t-[42px] sm:rounded-t-[28px] 2xl:rounded-t-[42px]"
>
  <img
    src="../../../../assets/CatwikiLogoWhite.svg"
    alt="CatWiki logo"
    class="w-24 sm:w-40 md:w-56 lg:w-72 xl:w-80 mb-2"
  />
  <div class="w-[130px] sm:w-[50%] md:w-[45%] lg:w-[37%]">
    <span
      class="text-white text-[10px] sm:text-base md:text-lg lg:text-2xl font-medium block leading-3 mb-5 sm:mb-8 lg:mb-10 xl:mb-12"
    >
      Get to know more about your cat breed
    </span>
    <div>
      <button
        class="sm:hidden flex flex-row items-center justify-between w-24 bg-white pl-4 pr-3 py-0.5 rounded-full"
        (click)="toggleSearchDialog()"
      >
        <span class="text-xs font-medium">Search</span>
        <span class="material-icons !text-lg">search</span>
      </button>
      <select
        class="hidden sm:block w-[90%] md:w-full text-xs md:text-sm lg:text-lg py-3 lg:py-4 xl:py-5 px-4 lg:px-7 rounded-full"
        name="select-cat-breed"
        aria-placeholder="Enter your breed..."
      >
        <option value="">Enter your breed</option>
        <option *ngFor="let breed of breeds" [value]="breed.externalId">
          {{ breed.name }}
        </option>
        <!-- TODO: Add search icon into this select -->
      </select>
    </div>
  </div>
</section>

<app-dialog
  customClasses="h-[400px] max-w-[375px]"
  [show]="showSearchDialog"
  (onBackdropClick)="toggleSearchDialog()"
  (onCancel)="toggleSearchDialog()"
>
  <ng-select
    class="ng-select__custom z-0"
    [(ngModel)]="selectedBreed"
    placeholder="Search for the breed name..."
    notFoundText="Breed not found"
    [isOpen]="true"
    [clearable]="false"
    [loading]="isLoading"
    (change)="handleSelectedBreed()"
  >
    <ng-option *ngFor="let b of breeds" [value]="b.externalId">
      {{ b.name }}
    </ng-option>
  </ng-select>
</app-dialog>
