/* You can add global styles to this file, and also import other style files */

// TailwindCSS
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// Swiper
@import 'swiper/scss';
@import 'swiper/scss/a11y';
@import 'swiper/scss/pagination';

// Material Icons
@import 'material-icons/iconfont/filled.css';
@import './assets/styles/material-css-icons.scss';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

// NgSelect
@import '~@ng-select/ng-select/themes/default.theme.css';
@import './assets/styles/ng-select.scss';

// Animations
@import './assets/styles/animations.scss';

html {
  height: -webkit-fill-available;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  width: 100%;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

.js-lock-position {
  position: fixed;
  overflow: hidden;
}

@layer base {
  p,
  span,
  small,
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-primary;
  }
}
