/* You can add global styles to this file, and also import other style files */

// TailwindCSS
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// Material Icons
@import 'material-icons/iconfont/filled.css';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

// Splitting package
@import 'splitting/dist/splitting.css';
@import 'splitting/dist/splitting-cells.css';

// NgSelect
@import '~@ng-select/ng-select/themes/default.theme.css';

body {
  font-family: 'Montserrat', sans-serif;
}

@layer base {
  p,
  span,
  small,
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-primary;
  }
}

@layer components {
  .rainbow-text-animated .char {
    animation: rainbow-colors 2s linear infinite;
    animation-delay: calc(-2s * var(--char-percent));
  }

  .rainbow-underline .char {
    color: white;
    text-decoration: underline;
  }
}

@keyframes rainbow-colors {
  0% {
    color: #f65555;
  }
  25% {
    color: #a6f655;
  }
  50% {
    color: #55f6f6;
  }
  75% {
    color: #a655f6;
  }
  100% {
    color: #f65555;
  }
}

.pulse {
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation-delay: 0.5s;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/*******
* NgSelect Customization
***/
.ng-select.ng-select__custom .ng-select-container {
  @apply border border-black rounded-full h-11 #{!important};

  input,
  .ng-value {
    @apply font-semibold text-lg text-black px-2 #{!important};
  }

  .ng-placeholder {
    @apply px-2;
  }

  .ng-arrow-wrapper {
    @apply material-icons mi-search right-3;

    .ng-arrow {
      @apply hidden;
    }
  }

  .ng-spinner-loader {
    @apply right-3;

    + .ng-arrow-wrapper {
      @apply hidden;
    }
  }
}

.ng-select.ng-select__custom .ng-dropdown-panel {
  @apply border-none mt-6;

  .ng-option {
    @apply py-3;

    &.ng-option-selected {
      @apply bg-gray-100 rounded-xl;
    }

    &.ng-option-marked {
      @apply bg-accent bg-opacity-20 text-black text-opacity-30 rounded-xl;
    }
  }

  .ng-option-label {
    @apply text-lg font-medium text-black;
  }
}

/*******
* Material CSS Icons
***/
.mi-search::before {
  content: '\e8b6';
}

.mi-search-off::before {
  content: '\ea76';
}
